@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* box-sizing: border-box; */
}

body {
  background-color: #171717;
  color: #fff;
}

.nav1 {
  background-color: #133337;
  padding: 10px;
  border-radius: 10px;
}

.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav1 li {
  display: inline;
}

.nav1 a {
  text-decoration: none;
  color: #fff;
  /* background-color: orangered; */
  padding: 5px 15px;
  position: relative;
}

.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0a65c7;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  background-color: #59d127;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  /* font-size: 16px; */
  font-weight: 600;
  cursor: pointer;
}

/***** Section Nav2 *****/

.nav2 {
  background-color: #03643c;
  width: 200px;
  padding: 20px;
}
.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav2 li {
  margin-bottom: 12px;
}
.nav2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  width: 90%;
}
.nav2 a:hover {
  background-color: #137e0a;
  border-radius: 10px;
  transform: scale(1.1);
}
.nav2 .login-btn {
  background-color: #048a2f;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.nav2 .login-btn:hover {
  transform: scale(1.1);
}

/***** End Section Nav2 *****/

/***** Section Nav3 *****/

.nav3 {
  background-color: #133337;
  padding: 10px;
  border-radius: 10px;
}
.nav3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav3 a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}
.nav3 .dropdown-content {
  display: none;
}

.nav3 .dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  left: 35%;
  background-color: #133337;
  min-width: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.nav3 .dropdown-content a:hover {
    background-color: #288591;
    border-radius: 5px;
    /* padding: 5px; */
}

.nav3 .login-btn {
  background-color: #59d127;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  /* font-size: 16px; */
  font-weight: 600;
  cursor: pointer;
}
/***** End Section Nav3 *****/
